body{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.HeaderDiapo{
    &-titreDiapo{
        text-align: center;
    }
}

.DisplayImage{
    text-align: center;
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 600px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    &-img{
        display: none;
        justify-content: center;
        align-self: center;    
    }
    &-img.active{
        display: inline;
    }

}

.NavigateImage{
    text-align: center;
}

.hidden{
    display: none;
}